<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /paperassist/
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule . /wordpress/index.php [L]
</IfModule>